<form action="/performaddition" method="post">
  <input type="text" name="firstnumber"  placeholder="First Number">
  <input type="text" name="secondnumber" placeholder="Second Number">

  <button type="submit">Add These Numbers</button>
</form>

